* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body styling */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
/* hero section styling */
#hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
.head-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}
#logo-txt {
    font-size: 24px;
    color: #f9faf8;
    padding: 5px;
}
.nav-bar,
ul {
    display: flex;
    gap: 20px;
}
ul li {
    list-style: none;
    padding: 5px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.hero-second-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    gap: 100px;
    padding-bottom: 100px;
}

#main-txt {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    width: 7.5em;
    padding: 1px;
}
#second-txt {
    color: #e5e7eb;
    font-size: 18px;
    width: 50%;
}
.placeholder {
    display: flex;
    padding: 70px;
    background-color: grey;
    color: white;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.sign-in-button {
    background-color: #3882f6;
    color: white;
    padding: 8px;
    width: 10%;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}
/* Styling footer */
.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    margin-top: auto;
    color: white;
    padding: 35px;
}
